table, th, td{
  border: 3px solid black;
  border-collapse: collapse;
  padding: 1.5em;
  text-align: center;
}
*{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 2.5em;
}

nav{
  margin: 0em 5em;
}
nav ul{
  display: flex;
}

nav ul a{
  margin: 1em 2em;
  list-style: none;
  color: black;
  font-size: 1.3em;
}
nav ul a:hover{
  color: red;
}

table{
  margin: auto;
}

form{
  border: 2px solid black;
  margin: auto;
  padding: 1em;
  width: 40em;
  text-align: right;
}
form input{
  margin: 1em 15em 1em 1em;
  width: 15em;
  height: 2em;
}

form label{
  font-weight: bold;
}

form button{
  margin-right: 11em;
  width: 10em;
  height: 2em;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
form button:hover{
  background-color: rgb(0, 0, 255, 0.8);
}